/* PHONES */

@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
    }

    .header_item{
        display: none;
    }
    .frosted-glass{
        width: 65%;
    }


    .nav-links a img{
        height: 69px;
    }

    .about_us_1 h1{
        margin-top: 90px;
        font-size: 38px;
    }

    .about_us_1 p{
        font-size: 20px;
        width: 240px;
    }
    .about_us_1 h4{
        font-size: 15px;
        width: 230px;
        margin-top: 200px;
        margin-bottom: 100px;
    }
    


    .icon{
        width: 120px;
        height: 120px;
    }

    .icon h1{
        font-size: 25px;
    }
    .icon p{
        font-size: 20px;
    }

    .services-logo h1{
        font-size: 35px;
    }
    .services-logo p{
        font-size: 20px;
        padding: 10px 30px;
    }
    .services-text{
        font-size: 20px;
        line-height: 1.9;

    }
    .service-pic h1{
        top: 20px;
        left: 100px;
    }
    .services-2{
        display: flex;
        display: block;
    }
    .service{
        margin-bottom: 40px;
    }


    .benefit-desc{
        padding: 0 6%;
        margin-bottom: 50px;
    }


    .benefit{
        padding: 0 5%;
        background-image: url('images/mobile_benefit_business.svg'); /* Adjust path as needed */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        height: 1200px;
        margin-top: 20px;       
    }
    .benefit-item-row{
        display: inline-block;
        background-color: transparent;
        margin-bottom: 0px;
    }
    .benefit-item{
        width: 460px;
        margin-bottom: 20px;
    }
    .benefit-item p{
        line-height: 1.5;
    }     
}  